<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Recipe</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <!-- <link rel="stylesheet" href="/flask_app/static/css/style.css"> -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Belanosima:wght@400;600;700&family=Fuzzy+Bubbles:wght@400;700&family=Mansalva&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>

<body>


    <!-- HEADER START -->

    <h1>Recipe Repo</h1>
    <header>
      <h2>{{ session['first_name'] }}, add your recipe:</h2>
      <nav>
        <div>
          <a href="/dashboard">back to recipes</a>
        </div>
        \
        <div>
          <a href="/logout">logout</a>
        </div>
      </nav>
    </header>

    <!-- HEADER END -->


    <!-- FLASH MESSAGES START -->

    <div class="flx col">
      {% with messages = get_flashed_messages() %}
          {% if messages %}
              {% for message in messages %}
                <p class="alert">{{ message }}</p>
              {% endfor %}
          {% endif %}
      {% endwith %}
    </div>

    <!-- FLASH MESSAGES END -->


    <!-- MAIN START -->

    <main class="index-card-img"> 


      <!-- FORM START -->

      <form class="flx col gap-4" action="/add/recipe/submission" method="post">
        <!-- <input type="hidden" name="user_id" value="{#{{ session['user_d'] }}#}"> -->
        
        <div class="flx row">
            <label class="flx-1" for="recipe_name">Name: </label>
            <input class="flx-3" type="text" name="recipe_name" placeholder="your recipe name...">
        </div>

        <div class="flx row">
          <label class="flx-1" for="recipe_description">Description: </label>
          <textarea class="flx-3" name="recipe_description" placeholder="describe your dish..." rows="2" id="recipe_description"></textarea>
        </div>
          
        <div class="flx row">
          <label class="flx-1" for="recipe_instructions">Instructions: </label>
          <textarea class="flx-3" name="recipe_instructions" placeholder="Write the steps here..." rows="4" id="recipe_instructions"></textarea>
        </div>
        
        <div class="flx row">
          <label class="flx-1" for="recipe_date">Date made: </label>
          <input class="flx-3" type="date" name="recipe_date" value="recipe_date">
        </div>


        <!-- RADIOS START -->

        <div class="flx">
          <label class="flx-1">Under 30 minutes?: </label>
          <div class="flx row flx-3 gap-4">
            <div class="radio">
              <label for="yes">Yes</label>
              <input type="radio" name="under_30" value=1>
            </div>
          
            <div class="radio">
              <label for="no">No</label>
              <input type="radio" name="under_30" value=0>
            </div>
          </div>
        </div>

        <!-- RADIO END -->


        
        <div>
          <button type="submit">create recipe</button>
        </div>
      </form>

      <!-- FORM END -->


    </main>

    <!-- MAIN END -->

  
</body>
</html>