<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Recipe</title>
  <link rel="stylesheet" href="/flask_app/static/css/style.css">
</head>
<body>
  <div class="container">
    <header>
      <h1>Add Your Recipe</h1>
      <nav>
        <div>
          <a href="#">back to recipes</a>
        </div>
        <div>
          <a href="#">logout</a>
        </div>
      </nav>
    </header>

    <main class="flx">
      <!-- place for form validation alerts -->
      <p class="alert">Alert placeholder</p>
      <form action="" class="flx recipe-form">
        <!-- 3 inputs: name, description, instructions -->
        <div class="flx col flx-2">
          <label for="">Name:</label>
          <input type="text" name="" value="">
          <label for="">Description:</label>
          <input type="text" name="" value="">
          <label for="">Instructions:</label>
          <input type="text" name="" value="">
        </div>
        <!-- date cooked/made input and under 30 radios -->
        <div class="flx col flx-1">
          <label for="">Date cooked/ made</label>
          <input type="date" name="" id="" value="">
          <label for="">Under 30 minutes?</label>
          <input type="radio" name="" id="" value="">
          <input type="submit" value="Submit">
        </div>
      </form>

    </main>
  </div>
</body>
</html>