<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome</title>
  
  <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"> -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <!-- <link rel="stylesheet" href="/flask_app/static/css/style.css"> -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Belanosima:wght@400;600;700&family=Fuzzy+Bubbles:wght@400;700&family=Mansalva&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>

    <!-- HEADER START -->

    <h1>Recipe Repo</h1>
    <header>
      <h2>Welcome, {{ session['first_name'] }}!</h2>
      <nav>
        <h2>
          <a href="/recipe/new">create</a>
        </h2>
        <span>\</span>
        <h2>
          <a href="/logout">logout</a>
        </h2>
      </nav>
    </header>
    <!-- HEADER END -->




    <!-- MAIN START -->

    <main class="index-card-img">
      <p>All recipe posts:</p>




      <!-- TABLE START -->

      <div class="tableFixHead">
        <table>
          <thead>
            <tr>
              <th>Recipe</th>
              <th>Under 30?</th>
              <th>Posted by</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for recipe in all_recipes %}
            <tr>
              <td>
                {{ recipe.recipe_name }}
              </td>
              {% if recipe.under_30 == 1 %}
              <td>
                Yes
              </td>
              {% elif recipe.under_30 == 0 %}
              <td>
                No
              </td>
              {% endif %}
              <td>
                {{ recipe.creator.first_name }} {{ recipe.creator.last_name }}
              </td>

              
              <!-- !  ACTIONS: comparison conditional of user id and creator with session -->
              
              <td>
                <a href="/recipe/{{ recipe.id }}">view</a>
                {% if session['user_id'] == recipe.creator.id %}
                \
                <a href="/recipe/{{ recipe.id }}/edit">edit</a>
                \
                <a href="/delete/recipe/{{ recipe.id }}">delete</a>
                {% endif %}
              </td>
                
              

            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <!-- TABLE END -->



    </main>

    <!-- MAIN END -->



</body>
</html>