<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  
  <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"> -->
  <link rel="stylesheet" href="/flask_app/static/css/style.css">
  


</head>
<body>
  <div class="container">

    <header>
      <h1>Welcome, username</h1>
      <nav>
        <div>
          <a href="#">+ Create</a>
        </div>
        <div>
          <a href="#">logout</a>
        </div>
      </nav>
    </header>

    <main>

      <p>All posted recipes:</p>
      <div class="tableFixHead">
        <table>
          <thead>
            <tr>
              <th>Recipe</th>
              <th>Under 30?</th>
              <th>Posted by</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1.1</td>
              <td>2.1</td>
              <td>1.1</td>
              <td>2.1</td>
            </tr>
            <tr>
              <td>1.2</td>
              <td>2.2</td>
              <td>1.1</td>
              <td>2.1</td>
            </tr>
            <tr>
              <td>1.3</td>
              <td>2.3</td>
              <td>1.1</td>
              <td>2.1</td>
            </tr>
            <tr>
              <td>1.4</td>
              <td>2.4</td>
              <td>1.1</td>
              <td>2.1</td>
            </tr>
            <tr>
              <td>1.5</td>
              <td>2.5</td>
              <td>1.1</td>
              <td>2.1</td>
            </tr>
            <tr>
              <td>1.6</td>
              <td>2.5</td>
              <td>1.1</td>
              <td>2.1</td>
            </tr>
            <tr>
              <td>1.7</td>
              <td>2.5</td>
              <td>1.1</td>
              <td>2.1</td>
            </tr>
            <tr>
              <td>1.8</td>
              <td>2.5</td>
              <td>1.1</td>
              <td>2.1</td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </div>
  
  


</body>
</html>