<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Update Recipe</title>
  <link rel="stylesheet" href="/flask_app/static/css/style.css">
</head>
<body>
  <div class="container">
    <header>
      <h1>Update Your Recipe</h1>
      <nav>
        <div>
          <a href="#">back to recipes</a>
        </div>
        <div>
          <a href="#">logout</a>
        </div>
      </nav>
    </header>

    <main class="flx">
      <!-- place for form validation alerts -->
      
      <p class="alert">Alert placeholder</p>
      <form action="" class="recipe-form">
        <!-- 3 inputs: name, description, instructions -->
        <div class="flx-1">
  
        </div>
        <!-- date cooked/made input and under 30 radios -->
        <div class="flx-2">
  
        </div>
        <input type="submit" value="Submit">
      </form>

    </main>
  </div>
</body>
</html>