<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Recipe</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Belanosima:wght@400;600;700&family=Fuzzy+Bubbles:wght@400;700&family=Mansalva&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">


    <!-- HEADER START -->

    <header>
      <h1>Update Your Recipe</h1>
      <nav>
        <div>
          <a href="/dashboard">back to recipes</a>
        </div>
        <div>
          <a href="/logout">logout</a>
        </div>
      </nav>
    </header>

    <!-- HEADER END -->


    <!-- FLASH MESSAGES START -->

    <div class="flx col">
      {% with messages = get_flashed_messages() %}
          {% if messages %}
              {% for message in messages %}
                <p class="alert">{{ message }}</p>
              {% endfor %}
          {% endif %}
      {% endwith %}
    </div>

    <!-- FLASH MESSAGES END -->


    <!-- MAIN START -->
    
    <main>

      
      <!-- EDIT FORM START -->
      
      <form class="flx col gap-4" action="/update/recipe/submission" method="post">


        <!-- HIDDEN INPUT -->
        
        <input type="hidden" name="id" value="{{ one_recipe.id }}">

        
        <div class="flx row">
          <label class="flx-1" for="recipe_name">Recipe name: </label>
          <input class="flx-3" type="text" name="recipe_name" value="{{ one_recipe.recipe_name }}">
        </div>
          
        <div class="flx row">
          <label class="flx-1" for="recipe_description">Description: </label>
          <textarea class="flx-3" name="recipe_description" rows="10" id="recipe_description">{{ one_recipe.recipe_description }}</textarea>
        </div>
        
        <div class="flx row">
          <label class="flx-1" for="recipe_instructions">Instructions: </label>
          <textarea class="flx-3" name="recipe_instructions" rows="10" id="recipe_instructions">{{ one_recipe.recipe_instructions }}</textarea>
        </div>
        
      
        <!-- date cooked/made input and under 30 radios -->
        
          
          <div class="flx row">
            <label class="flx-1" for="recipe_date">Date made: </label>
            <input class="flx-3" type="date" name="recipe_date" id="recipe_date" value="{{ one_recipe.recipe_date }}">
          </div>

          
          <!-- RADIOS START -->

          <div class="flx">
            <label class="flx-1">Under 30 minutes?: </label>
            <div class="flx row flx-3 gap-4">

              {% if one_recipe.under_30 == 1 %}
                <div class="radio">
                  <label for="yes">Yes</label>
                  <input type="radio" name="under_30" value="1" checked>
                </div>
                
                <div class="radio">
                  <label for="no">No</label>
                  <input type="radio" name="under_30" value="0">
                </div>

              {% else %}
                <div class="radio">
                  <label for="yes">Yes</label>
                  <input type="radio" name="under_30" value="1">
                </div>
                
                <div class="radio">
                  <label for="no">No</label>
                  <input type="radio" name="under_30" value="0" checked>
                </div>
              {% endif %}
            </div>
          </div>

          <!-- RADIO END -->

          
          <!-- SUBMIT BUTTON -->

          <div>
            <button type="submit">update recipe</button>
          </div>

        </div>
      </form>

      <!-- FORM END -->
    
    
    </main>
    
    <!-- MAIN END -->
  
  
  </div>
</body>
</html>