<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    
    <header>
      <h1>Welcome</h1>
      <nav>
        <div>
          <a href="#">+ Create</a>
        </div>
        <div>
          <a href="#">logout</a>
        </div>
      </nav>
    </header>
    
    <main class="flx">
      <!-- reg form -->
  
      <!-- login form -->
    </main>
  </div>
</body>
</html>