<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Name of Recipe</title>
  <link rel="stylesheet" href="/flask_app/static/css/style.css">
</head>
<body>
  <div class="container">
    <header>
      <h1>Welcome, username</h1>
      <nav>
        <div>
          <a href="#">back to recipes</a>
        </div>
        <div>
          <a href="#">logout</a>
        </div>
      </nav>
    </header>
    <main>
      <h2>Name of Recipe</h2>
      <h3>Posted by: user</h3>
    </main>
  </div>
</body>
</html>